<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>

		<div class="bg-gradient-to-br from-blue-500 to-pink-500 min-h-screen">
		
			<div class="flex items-center justify-center min-h-screen">
				<div class="bg-white p-12 rounded shadow-lg">
					<slot />
				</div>
			</div>
	</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
